@(query: String)

@main("Tweeter Streaming") {

    <h2>Live tweets</h2>
    <h3> <span id="message"></span> </h3>
    <div id="vizGraph"></div>
    <div id="search"></div>
    <h4> <span id="tweet"></span> </h4>

    <script type="text/javascript" charset="utf-8">
        if (@query.isEmpty)
            d3.select("#message").html("The garden hose is open! Sampling english tweets");
        else
            d3.select("#message").html("Searching for Tweets containing the terms: @query");

        // This occurs at start and only once
        let tick = SenitmentGraph();
        // Meaning, we can change the query sting internally via a button..I think...
        let feed= ActivateEventSource("@routes.Application.timeline(query)", tick);

        d3.select('#search')
                .append('button')
                .text('search')
                .on('click', () => {
                    // Kill off the old chart
//                    d3.select('#chartDiv').remove();

                    // Create a New Chart
//                    tick = SenitmentGraph();

                    // Grab the text from the search box
                    let text = d3.select("#searchMe").node().value;
                    console.log(text);
                    // Close the feed
//                    feed.close();

                    // Reopen the feed, assign the chart to the listener
                    @*feed = ActivateEventSource(@query, tick)*@
                });

        d3.select('#search').append('input').attr('type','text').attr('id', 'searchMe');

        function ActivateEventSource(queryRoute, callback) {
            console.log("we called", queryRoute);
            let feed = new EventSource(queryRoute);
            feed.addEventListener('message', HandleStream(callback), false);
            return feed
        }

    </script>
}
